<!DOCTYPE html>
<html>
<head>

<h1>And Your order is as follows: 
		</h1>
</head>
<body>




<%pickem.each do |value|%>
	<%if value == "on"%>
	
		<%else%>
	<img src = "/imgs/<%=value%>.jpg"  width="128.7" height="108.7">	
<h1>	<%=value%> </h1>
	<%end%>
<%end%>	

And We're Delivering it to:
<h1>
<img src = "/imgs/delivery>.jpg"  width="128.7" height="108.7">	
	<%=address%> </h1>
<button><a href= "/"> Another Order?</button>
</body>
</html>