And Your order is as follows: 
<%checked.each_pair do |choice, value|%>
	<%if value == "on"%>
		<%checked.delete(choice)%>
	<%else%>	
<h1>	<%=value%> </h1>
	<%end%>
<%end%>	

And We're Delivering it to:
<h1>	<%=address%> </h1>