<!DOCTYPE html>
<html>
<head><h1> Heyyooo ..Let'sa Makea YOURa Pizza</h1>

</head>


<body>
<h3> Pleasea selecta youra meatsa: </h3>
<form method="post" action="stuff">
  
  <br>
  <p><img src = "/imgs/Bacon.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="meat[]" value="Bacon">Bacon</p>
  <p><img src = "/imgs/NotCat.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="meat[]" value="NotCat">NotCat</p>
  <p><img src = "/imgs/Swausage.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="meat[]" value="Swausage">Swausage</p>
  <p><img src = "/imgs/Beef.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="meat[]" value="Beef" checked>Beef</p>
  <p><img src = "/imgs/Pupperonni.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="meat[]" value="Pupperonni">Pupperonni</p>

<h3> Pleasea selecta youra Veggetablesa: </h3>

  <p><img src = "/imgs/Peppahs.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="veggies[]" value="Peppahs">Peppahs</p>
  <p><img src = "/imgs/Tomato.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="veggies[]" value="Tomatoews">Tomato</p>
  <p><img src = "/imgs/Eggplant.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="veggies[]" value="Eggplant">Eggplant</p>
  <p><img src = "/imgs/Onjion.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="veggies[]" value="Onjion">Onjion</p>
  <p><img src = "/imgs/Olives.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="veggies[]" value="Olives">Olives</p>

 <h3> Pleasea selecta youra Cheesea: </h3>

  <p><img src = "/imgs/Moozerrella.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="cheeze[]" value="Moozerrella" checked>Moozerrella</p>
  <p><img src = "/imgs/Bleuuh.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="cheeze[]" value="Bleuuh">Bleuuh</p>
  <p><img src = "/imgs/MUH_rican.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="cheeze[]" value="MUH_rican">MUH_rican</p>
  <p><img src = "/imgs/Prova_lone.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="cheeze[]" value="Prova_lone">Prova_lone</p>
  <p><img src = "/imgs/Fermunda.jpg"  width="128.7" height="108.7">
    <input  type="checkbox" name="cheeze[]" value="Fermunda">Fermunda</p>

<h3> Please select your Crust: </h3>

  <p><img src = "/imgs/Reg.jpg"  width="128.7" height="108.7">
    <input  type="radio" name="crust[]" value="Reg" checked>Reg.</p>
  <p><img src = "/imgs/Thin.jpg"  width="128.7" height="108.7">
    <input  type="radio" name="crust[]" value="Thin">Thin</p>
  <p><img src = "/imgs/HandTouched.jpg"  width="128.7" height="108.7">
    <input  type="radio" name="crust[]" value="HandTouched">HandTouched?</p>
  <p><img src = "/imgs/DeepDish.jpg"  width="128.7" height="108.7">
    <input  type="radio" name="crust[]" value="DeepDish">DeepDish</p>
  <p><img src = "/imgs/Stuffed.jpg"  width="128.7" height="108.7">
    <input  type="radio" name="crust[]" value="Stuffed">Stuffed</p>

<h3>  Will That Be Delivery?  </h3>
	<p><img src = "/imgs/delivery.jpg"  width="228.7" height="208.7">
    <input  type="checkbox" name="delivery" value="delivery">Delivery</p>

<input type="submit" value="Place Order">
</form>
</body>


</html>