h1{
	text-align: center;

}
body{ 
	color: maroon;
	text-shadow: .75px 1.25px 0 #420;
	font-weight: 8.2%;
	font-size: 1.5rem;
	margin-left: 27.5%;
	background-image: url(/imgs/thehut.jpg);
	background-position: center;
  background-repeat: repeat;
  background-size: 75%;
}	
h3{
	font-size: 2rem;
	font-weight: 4.2%;
}